/* flex prop */
.flex{display: flex;}
.clmn{flex-direction: column;}
.wrp{flex-wrap: wrap;}

.jc-sb{justify-content: space-between;}
.jc-sa{justify-content: space-around;}
.jc-se{justify-content: space-evenly;}
.jc-cen{justify-content: center;}
.jc-fs{justify-content: flex-start;}`
.jc-fe{justify-content: flex-end;}

.ai-cen{align-items: center;}
.ai-fs{align-items: flex-start;}
.ai-fe{align-items: flex-end;}
.ai-bas{align-items: baseline;}
.as-cen{align-self: center;}
.as-fs{align-self: flex-start;}
.as-fe{align-self: flex-end;}
/* border */
.bor-12{border-radius:12px;}
.bor-30{border-radius: 30px;}
.bor-c{border-radius: 50%;}
/* padding / margin*/
.p-8{padding: 8px;}
.p-12{padding: 12px;}
.p-16{padding: 16px;}
.p-24{padding: 24px;}
.p-30{padding: 30px;}
.p-32{padding: 32px ;}
.p-60{padding: 60px;}
.p-120{padding: 120px;}
.p-180{padding: 180px;}
.pb-8{padding-bottom: 8px;}
.pb-12{padding-bottom: 12px;}
.pb-24{padding-bottom: 24px;}
.pb-32{padding-bottom: 32px;}
.pt-8{padding-top: 8px;}
.pt-12{padding-top: 12px;}
.pt-16{padding-top: 16px;}
.pt-24{padding-top: 24px}
.pt-60{padding-top: 60px;}
.pl-8{padding-left: 8px;}
.pl-12{padding-left: 12px;}
.pl-16{padding-left: 16px;}
.pl-30{padding-left: 30px;}
.pr-12{padding-right: 12px;}
.pr-16{padding-right: 16px;}
.pr-24{padding-right: 24px;}
.po-12{padding: 0 12px;}
.py-12{padding: 12px 0;}
.py-8{padding:8px 0;}
.ma{margin: auto;}
.mo-12{margin-left: 12px; margin-right: 12px;}
.mo-20{margin-left: 20px; margin-right: 20px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-60{margin-bottom: 60px;}
.mb-160{margin-bottom: 160px;}
.mt-8{margin-top: 8px;}
.mt-16{margin-top: 16px;}
.mt-30{margin-top: 30px ;}
.mt-75{margin-top: 75px;}
.mt-90{margin-top: 90px;}
.ml-12{margin-left: 12px;}
.ml-16{margin-left: 16px;}
.ml-20{margin-left: 20px;}
.mr-12{margin-right: 12px;}
.mr-16{margin-right: 16px;}
.mr-20{margin-right: 20px;}
.pc1{padding: 20px 16px;}
.pc2{padding: 12px 24px;}
.pc3{padding-right: -12px; padding-left: -12px;}
/* color */
.c-wht{color: white;}
.c-blk{color: black;}
.c-gry{color: grey  ;}
.c-bl{color: blue;}
.c-lm{color: lime;}
.c-cs2{color: #9792E4;}
.c-cs3{color: #7875ae;}
.c-cs4{color: #0084fd;}
.bg-cs1{background-color: #B5DDFF;}
.bg-cs2{background-color: #9792E4;}
.bg-lgr{background-color: lightgray;}
.bg-bl{background-color: blue;}
.bg-blk{background-color: black;}
.bg-wht{background-color: white;}
.bor-wht{border: 1px solid white;}
.bor-gry{border: 1px solid grey;}
.bor-blk{border: 1px solid black;}
/* font */
.txt-u{text-decoration: underline;}
.txt-n{text-decoration: none;}
.txt-cen{text-align: center;}
.fs-80{font-size: 80px;}
.fs-52{font-size: 52px;}
.fs-46{font-size: 46px;}
.fs-32{font-size: 32px;}
.fs-28{font-size: 28px;}
.fs-24{font-size: 24px;}
.fs-20{font-size: 20px;}
.fs-18{font-size: 18px;}
.fw-9{font-weight: 900;}
.fw-7{font-weight: 700;}
.fw-4{font-weight: 400;}
/* position */
.rel{position: relative;}
.abs{position: absolute;}
.fix{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/* width */
.w8{width: 8%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w48{width: 48%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w100{width: 100%;}

/* width height x immagini rotonde */

/* img */
.cov{background-size: cover;}
.con{background-size: contain;}
.obj-ft{object-fit: contain;}
.btn    